# Node modules
node_modules/

# Fichiers d'environnement (contient mots de passe)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.log

# Build / cache éventuels
dist/
.cache/

# VSCode config (optionnel)
.vscode/
